#lHeader {
    color: RED;
    text-align: center;
    font-family: fantasy;
    font-size: 30px;
    font-style: oblique;
  }
  li{
    color: rgb(48, 46, 46);
    font-family: fantasy;
    font-size: 12px; 
  }
  #Nav{
      list-style-type: none;
      margin: 0;
      padding: 0;
      overflow: hidden;
      background-color: black;
      color: white;
  }
  #navli{
      float: left;
}
  .active{
      background-color: red;
  }

  li a {
    display: inline-block;
    text-align: center;
    font-weight: bold;
    padding: 14px 16px;
    text-decoration: none;
    color: white;
  }
  li a:hover{
    background-color: blue;
}
#imgindex{
    float: left;
    cursor: pointer;
    max-width: 100%;
    height:auto;
    width:auto;
}
#parrep{
    font-family: fantasy;
    font-size: 12px;
}
#ingredients{
    font-weight: bolder;
    color:red;
    font-size: 14px;
}
#directions{
    font-weight: bolder;
    color:red;
    font-size: 14px;
}
#h2marg{
    margin-top: 20px;
    list-style-type: none;
    padding: 0;
    overflow: hidden;
    background-color: rgb(83, 80, 80);
    color:#79b90a;
}
